*{
    margin: 0;
    padding: 0;
}
.main{
    background-color: #9980FA;
}
html{
    scroll-behavior: smooth;
}
.figures{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu{
    border: 5px solid #5758BB;
    border-radius: 20px;
    background-color: #9980FA;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    display: flex;
    position: sticky;
    padding: 5px;
    z-index: 100;
}
.boxParent, .circleParent, .triangleParent{
    margin: 100px;
    width: 400px;
    height: 400px;
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.redBox, .blueBox, .greenBox,
.redCircle, .blueCircle, .greenCircle,
.redTriangle, .blueTriangle, .greenTriangle {
    position: absolute;
    z-index: 10;
    transition: 0.5s;
}
.redBox, .blueBox, .greenBox,
.redCircle, .blueCircle, .greenCircle{
    height: 200px;
    width: 200px;
}
.redBox{
    background-color: #EA2027;
    top: 0;
    left: 0;
    transform: rotate(0deg);
}
.blueBox{
    background-color: blue;
    right: 0;
    bottom: 0;
    transform: rotate(0deg);
}
.greenBox{
    background-color: #009432;
    z-index: 20;
    transform: rotate(0deg);
}
 .greenBox:hover, .blueBox:hover, .redBox:hover{
    width: 300px;
    height: 300px;
    transform: scale(1.5s);
    transform: rotate(45deg);
 }
 .redCircle{
    background-color: #EA2027;
    border-radius: 50%;
    top: 0;
    left: 0;
 }
 .blueCircle{
    background-color: #0652DD;
    border-radius: 50%;
    bottom: 0;
    right: 0;
 }
 .greenCircle{
    background-color: #009432;
    border-radius: 50%;
    z-index: 20px;
 }
 .greenCircle:hover, .blueCircle:hover, .redCircle:hover{
    width: 300px;
    height: 300px;
    transform: scale(1.5s);
 }
  .redTriangle {
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 155px solid #EA2027;
  }
  .blueTriangle{
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 155px solid #0652DD;
  }
  .greenTriangle{
    z-index: 20;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 155px solid #009432;
  }
  .greenTriangle:hover, .blueTriangle:hover, .redTriangle:hover {
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 260px solid #009432;  
    transform: scale(1.5s);
    transform: rotate(90deg);
 }
 .blueTriangle:hover{
    border-bottom: 260px solid #0652DD;
 }
 .redTriangle:hover{
    border-bottom: 260px solid #EA2027;
 }


