.card {
    width: 100px;
    border: 3px solid #079992;
    background-color:  #38ada9;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
div{
display: flex;
justify-content: center;
align-items: center;
}