*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(https://foni.club/uploads/posts/2023-01/1673792645_foni-club-p-kartinki-na-rabochii-stol-yaponskie-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container{
    width: 100%;
    overflow: hidden;
}
h1{
    margin-top: 50px;
    padding-right: 20%;
    font-weight: bold;
    font-size: 60px;
    float: right;
    color: #73854a;
    -webkit-text-stroke: 1px #3b393c;
}
h2{
    margin-top: 20px;
    padding-right: 10%;
    float: right;
    color: #3b393c;
    font-size: 20px;
}
@media  screen and (max-width: 768px){
    h1, h2{
float: none;
text-align: right;
}
}
nav{
    margin-top: 10px;
    margin-left: 35%;
    color: #951f1f;
    font-size: 30px;
    margin-bottom: 30px;
}
nav a{
    color: #951f1f;
}
nav a:hover{
    color: #d05226;
}
.allBoxes{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.traditions, .art, .history, .cuisine, .katana{
    border-radius: 25px;
    width: 500px;
    margin: 10px;
    display: flex;
    align-items: center;
    background-color: rgba(115, 133, 74, 0.7);
    overflow: hidden;
    cursor: pointer;
}
.traditions, .history, .katana{
    margin-right: 500px; 
}
.art, .cuisine{
    margin-left: 500px;
}
h3, p{
   color: #3b393c;
   float: left;
   clear: left;
   margin: 10px;
}
h3{
    font-size: x-large;
}
p a{
    color: #951f1f;
}
p a:hover{
color: #d05226;
}
.image{
width: 200px;
border-radius: 25px;
float: right;
margin: 10px;
}
    

